.content {
    display: grid;

    grid-template-columns: 2fr 10fr;
}

.dialogs {
border: solid darkslateblue 2px;
}
.dialogs a{
    width: 100%;
    border: crimson solid 1px;
    display: inline-block;
    text-decoration: none;
}
.messages {
border: darkmagenta solid 2px;

}
.active{
    color: gold;
}
